# Created by https://www.toptal.com/developers/gitignore/api/platformio,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=platformio,visualstudiocode

### PlatformIO ###
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
#!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### Local History for Visual Studio Code ###
.history

### Built Visual Studio Code Extensions ###
*.vsix

### VisualStudioCode Patch ###
.ionide

# End of https://www.toptal.com/developers/gitignore/api/platformio,visualstudiocode

# Exclude personal settings for the project (wifi credentials, etc.).
include/_USER_DEFINES.h

# Ignore "act" files (GitHub Actions locally).
.act_artifacts
.actrc
.act

# Firmware backups
*.bin
